{% extends 'blog/base.html' %}

{% block title %}
  {{ block.super }} | Posts
{% endblock %}

{% block content %}
  <!-- Section: Content -->
  <section class="text-center">
    <h2 class="mb-5"><strong>Latest posts</strong></h2>
    {% if tag %}
      <h3>Posts tagged with "{{ tag.name }}"</h3>
    {% endif %}

    <div class="row">
      {% for post in posts %}
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
              <img src="https://picsum.photos/300/200?random={{ post.id }}" class="img-fluid" />
              <a href="#!"><div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div></a>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="text-start">{{ post.content|truncatewords:20 }}</p>
              <p class="card-text">
                <small class="text-muted"><strong>Written by {{ post.author|upper }}</strong></small>
                <small class="text-muted">{{ post.publish }}</small>
              </p>
              <a href="{{ post.get_absolute_url }}" class="btn btn-primary" data-mdb-ripple-init>Read</a>

              {% comment %}tags{% endcomment %}
              <div class="mt-3">
                {% for post_tag in post.tags.all %}
                  <a href="{% url 'blog:post_list_by_tag' post_tag.slug %}" class="badge bg-primary">{{ post_tag.name }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
  <!-- Section: Content -->
  {% include 'blog/pagination.html' with page=posts %}
{% endblock %}
