{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title %}
  {{ block.super }} | Posts
{% endblock %}

{% block content %}
  <!-- Section: Content -->
  <section class="py-5">
    <div class="container">
      <h2 class="mb-5 text-center">
        <strong>
          Latest Posts{% if tag %}
            tagged with "{{ tag.name }}"
          {% endif %}
        </strong>
      </h2>

      {% include 'blog/post/includes/list_posts.html' with posts=posts %}

      <!-- Pagination -->
      <div class="d-flex justify-content-center mt-4">
        {% include 'blog/pagination.html' with page=posts %}
      </div>
    </div>
  </section>
  <!-- Section: Content -->
{% endblock %}
