{% extends 'blog/base.html' %}
{% block title %}
  Share a post
{% endblock %}
{% block content %}
  {% if sent %}
    <h1>E-mail successfully sent</h1>
    <p>"{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.</p>
  {% else %}
    <h1>Share "{{ post.title }}" by e-mail</h1>
    <form method="post" class="row g-3">
      {% load crispy_forms_tags %}
      <div class="col">{{ form.name|as_crispy_field }}</div>
      <div class="col">{{ form.to|as_crispy_field }}</div>
      <div class="col-12">{{ form.comments|as_crispy_field }}</div>
      {% csrf_token %}
      <div class="col text-center">
        <input type="submit" class="btn btn-primary" value="Send e-mail" />
      </div>
    </form>
  {% endif %}
{% endblock %}
